* {
    box-sizing: border-box;
}

#drumMachineSection {
    height: auto;
    width: 100%;
    padding-bottom: 50px;
}



#drumMachineSectionTitle {
    /* padding-top: 20px; */
    width: 100%;
    /* height: 20%; */
    background: white;
    background: black;
    /* color: black; */
    color:  white;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
   
}

#drumMachineContainer {
    height: 600px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border: 2px solid black;
    margin-top: 50px; 
    background: rgba(128, 128, 128, 0.31);
    
    /* box-shadow: 4px 4px rgba(0, 0, 0, 0.815) */
    
}

#drumMachineTopContainer {
    height: 10%;
    width: 100%;
    border: 1px solid black;
    box-shadow: 3px 1px rgb(0, 0, 0);
    outline-offset: -1px;
    background: white;
    display: flex;
    /* flex-direction: column; */
}
.btn {
    /* background: rgba(45, 51, 221, 0.747) !important; */
    /* margin: auto !important; */
    background: rgb(0, 179, 255) !important;
}

#drumMachineMainContainer {
    height: 80%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    /* background: rgba(128, 128, 128, 0.31); */
    box-shadow: 3px 1px rgb(0, 0, 0);
    padding-right: 8px;
}

#drumMachineLeftMain {
    width: 50%;
    height: 100%;
    /* background-image: url("pics/beatTape18Caleb.jpg"); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    /* border: 1px solid black; */
    
}

#drumMachineLeftTop {
    width: 100%;
    height: 70%;
    /* margin: auto; */
}

#soundPackImageContainer {
    width: 60%;
    height: 80%;
    margin: auto;
    margin-top: 80px; 
    
    border-radius: 50%;
    
     /* background-image: url("pics/beatTape18Caleb.jpg");
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     object-fit: cover; */
   
}

#soundPackImage{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 3%;
}
#drumMachineLeftBottom {
    width: 100%;
    height: 30%;
    background: white;
    background: rgb(216, 216, 216);
    
}

#drumMachineRightMain {
    width: 50%;
    height: 100%;
    border-left: 3px solid black;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    
    
}

#drumMachineBottomContainer {
    height: 10%;
    width: 100%;
    border: 1px solid black;
    box-shadow: 3px 1px rgb(0, 0, 0);
    background: white;
    
}

#shoppingCartOuterContainer {
    /* width: auto; */
    margin: auto;
}

.padRow {
    width: 100%;
    height: 25%;
    /* border: 1px solid black; */
    display: flex;
    
}

.padContainer {
    width: 25%;
    height: 100%;
    
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* background: rgba(128, 128, 128, 0.31); */
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
  
}

.padText {
    height: 18%;
    width: 100%;
    border: 0px solid black;
    font-size: 12px;
}
.pad {
    height: 82%;
    width: 100%;
    /* border: 5px solid black; */
    border: 8px solid #8080804f;
    /* border: 5px solid #808080;
    border: 5px solid #935f7e; */
    /* border: 5px solid #9677a0; */
    background: rgba(105, 53, 131, 0.753);
    background: rgba(149, 57, 194, 0.753);
    padding: 5px;
    border-radius: 5%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.815);
    /* outline:    5px solid black; */
    
}

#drumMachineLogo {
    /* display: none; */
     background: yellow;
     height: 50px;
     /* width: 20px; */
 }
 
@media only screen and (max-width: 800px) {
    #drumMachineLeftMain {
      
        display: none;
        
    }
    
    #drumMachineRightMain {
        width: 95%;
        margin: auto;
      
        
    }

    #drumMachineSectionTitle {
        text-align: center;
    }

    #drumMachineContainer {
        height: 500px;
    }
}