body {
    /* background: black; */
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    background: white !important;
    font-family: 'Spicy Rice', cursive;
    /* border-bottom: 2px solid blue; */
    border-bottom: 3px solid rgb(26, 21, 85);
    font-family: 'Ubuntu', sans-serif;
    /* text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.144); */
    color: rgb(83, 45, 221)  !important;
    color: rgba(45, 51, 221, 0.747)  !important;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Spicy Rice', cursive;
    font-family: 'Acme', sans-serif, cursive;
    font-family: 'Righteous', cursive;
    z-index: 999999;
    /* font-family: 'Abril Fatface', cursive; */

}

.navbar:hover {
    color: purple !important;
}

#section1outerContainer {
     height: 100vh;
    width: 100%;
}

#section1 {

    height: 100vh;
    width: 100%;
    background-image: url("calebPlayingGuitar1.jpg");
    object-fit: cover;

    background-repeat: no-repeat;
    background: url("calebPlayingGuitar1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    /* margin: auto;
    margin-left: 250px; */
}

.section1row {
    height: 25%;
    width: 100%;
    /* border: 1px solid yellow; */
    margin: auto;
    /* margin-left: 20%; */
    font-size: 50px;
    font-family: 'Varela Round', sans-serif;
}

#section1BigText {
    height: 100%;
    width: 100%;
    color: white;
    margin: auto;
    text-align: center;
    /* margin-left: 20%; */
    
}

#section1BigTextOuterContainer {
    width: 75%;
    /* width: auto; */

}

#section2 {
    height: 100vh;
    width: 100%;
    /* border: 2px solid black; */
    /* background-image: linear-gradient(white, rgba(63, 25, 199, 0.432)); */
    background-image: linear-gradient(white, rgba(48, 199, 197, 0.418) 25% );
    /* overflow: hidden; */

     
}

#section2title {
    /* padding-top: 20px; */
    width: 100%;
    /* height: 20%; */
    background: white;
    background: black;
    /* color: black; */
    color:  white;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}